/* Ensure that the html, body, and root div take up full height */
:root {
    --primary-color: #3D72FD;
    --secondary-color: #CEDCFE;
    --tertiary-color: #8E92A2;
    --text-color: #18191D;
    --background-color: white;
    --border-color: #F5F5F5;
}

html, body, #root {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden; 
    background-color: var(--background-color);
}
  